// Example Stylus file
// All changes are detected and automatically compiled into CSS

@import 'helpers'

// Main

body, html
  //height 100%

body
  font normal 1em sans-serif
  vertical-gradient #9B8569, #786B66
  text-align center

p
  margin-bottom 1em

a
  color #784F5F

h1
  font-size 1.5em
  font-weight normal
  margin 1.5em
  color #7C3557
  //text-shadow 1px 1px 2px white

#content
  padding 30px
  width 700px
  margin 0 auto

ul.inputs
  list-style-type none

li.input
  display inline

#main-viewport
  margin 0 auto
  border 3px solid #B99B64

p.error
  color red

div.panel
  border 3px solid #B99B64
  background-color #B99B64
  color #F2E7D2
  padding 6px