!!! 5
html(lang="en")
  head
    != SocketStream
    meta(charset="utf-8")
    title Welcome
  body
    #content
      #left-sidebar
        form#login
          label Username:
            input(id='username', type='text', name='username', size=10)
          br
          label Password:
            input(id='password', type='password', name='password', size=10)
          br
          input(id='login-button', type='submit', value='Login')
          
      #main-viewport
